In [1]:
from IPython.display import display
import duckdb  
import pandas as pd

In [2]:
#initiualize a duckdb connection
conn = duckdb.connect('uber_restaurants.db')

In [3]:
conn2 = duckdb.connect('uber_restaurants.db')
#Read in data from parquet file using fetchall.
results = conn2.execute("CREATE TABLE restaurants AS SELECT * FROM 'uberEats-menus.parquet'").fetchall()
df_ubereats = pd.DataFrame(results)

display(df_ubereats.head(10))

conn2.close()

         0
0  5117217

In [8]:
conn3 = duckdb.connect('uber_restaurants.db')
results2 = conn3.execute('SELECT * FROM restaurants LIMIT 10').fetchdf()
df_ubereats2 = pd.DataFrame(results2) 
display(df_ubereats2)
conn3.close()

,restaurant_id,category,name,description,price
0,1,Extra Large Pizza,Extra Large Meat Lovers,Whole pie.,15.99 USD
1,1,Extra Large Pizza,Extra Large Supreme,Whole pie.,15.99 USD
2,1,Extra Large Pizza,Extra Large Pepperoni,Whole pie.,14.99 USD
3,1,Extra Large Pizza,Extra Large BBQ Chicken &amp; Bacon,Whole Pie,15.99 USD
4,1,Extra Large Pizza,Extra Large 5 Cheese,Whole pie.,14.99 USD
5,1,Extra Large Pizza,Extra Large Pepperoni Slice,Slice.,3.99 USD
6,1,Extra Large Pizza,Extra Large BBQ Chicken &amp; Bacon Slice,None,3.99 USD
7,1,Extra Large Pizza,Extra Large Meat Lovers Slice,Slice.,3.99 USD
8,1,Extra Large Pizza,Extra Large Supreme Slice,Slice.,3.99 USD
9,1,Extra Large Pizza,Extra Large 5 Cheese Slice,Slice.,3.99 USD